
body{
	margin: 0;
	background-color: #ddd;
}

/* --------------------- P A L E T T E ---------------------- */

#palette {
	position: fixed;
	left: 10px;
	top: 10px;
	width: 35px;
	padding: 10px;

	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	background-color: #bbb;
}

#tools, #colors  {
	list-style: none;
	margin: 0;
	padding: 0;
}

#tools{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 2px  dashed #999;
}

#tools li, #colors li {
	display: inline-block;
	width: 26px;
	height: 26px;
	padding: 4px;
	border: 1px solid #666;
	cursor: pointer;
}

.selected_color{
	width: 22px !important;
	height: 22px !important;
	border: 3px solid #fff !important;
}

.selected_tool{
	width: 22px !important;
	height: 22px !important;
	border: 3px solid #000 !important;
}

#tools li{
	background-image: url(../images/eraser.png);
	background-color: white;
	background-size: cover;
}

#colors li{
	background-color: red;
}

#tools li:hover, #colors  li:hover{
	border: 1px solid #fff;
}

/*canvas*/

#canvas{
	float: right;
}

canvas{
	background-color: #fff;
	border:1px solid #000000;
	border-radius: 5px;
	margin-top: 10px;
	margin-right: 10px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); 
}
