body{
	border :0;
}
.colors div{
	height: 45px;
}

.tools img{
	height: 45px;
}

.colors td:hover{
	border: 2px inset black;
}
.tools th:hover{
	background-color: blue;
}
.color_choose{
	border: 2px inset black;
	background-color: grey;
}